[core]
	editor = vim
	autocrlf = input
	safecrlf = true
[color]
	diff = always
	branch = true
	grep = auto
	interactive = auto
	status = false
    ui = true
[merge]
    conflictstyle = diff3
[diff]
	tool = vimdiff
[log]
	decorate = short
[alias]
        co = checkout
        ci = commit
        st = status
        br = branch --sort=-committerdate 
        hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short --color
        chist = log --graph --all --format=format:'%C(bold blue)%h%C(reset) — %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(bold white)— %an%C(reset)%C(bold yellow)%d%C(reset)' --abbrev-commit --date=relative
        brhist = log --graph --all --format=format:'%C(bold blue)%h%C(reset) — %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n'' %C(white)%s%C(reset) %C(bold white)— %an%C(reset)' --abbrev-commit
        type = cat-file -t
        dump = cat-file -p
        assume = update-index --assume-unchanged
        unassume = update-index --no-assume-unchanged
        assumed = "!git ls-files -v | grep ^h | cut -c 3-"
        snapshot = !git stash save "snapshot: $(date)" && git stash apply "stash@{0}"
[include]
        path = ~/.gituser
