emacs/.emacs.d/auto-save-list
emacs/.emacs.d/var/
emacs/.emacs.d/elpa/
vim/.vim/.netrwhist
emacs-24/
emacs-24-new/elpa/
emacs-24-new/auto-save-list/
emacs-24-new/backups/
emacs-24-new/.*
emacs-24-new/places
emacs-24-new/ac-comphist.dat
emacs-24-new/history
emacs-24-new/ac/ac*
emacs-24-new/abbrev_defs
emacs-24-new/ede-projects.el
emacs-24-new/semanticdb
emacs-24-new/srecode-map.el
/emacs/.emacs.d/.smex-items
